# DengAI Prediction

An attempt is being made to create a model that can predict the number of Dengue fever cases based on a specific week of the year. The data has already been divided into training and testing sets and labeled accordingly.

In [42]:
# import the basic necessery libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [44]:
# read all the data set
dengue_label_data = pd.read_csv('dengue_labels_train.csv')
dengue_feature_train_data = pd.read_csv('dengue_features_train.csv')
dengue_feature_test_data = pd.read_csv('dengue_features_test.csv')

from IPython.display import display, HTML

# Define CSS styles for scrollable tables
css_style = """
<style>
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
 
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
}

</style>
"""

# Display the DataFrame
display(HTML(css_style))
print("Dengue Label Data:")
display(dengue_label_data.head())

print("\nDengue Feature Train Data:")
display(dengue_feature_train_data.head())

print("\nDengue Feature Test Data:")
display(dengue_feature_test_data.head())

Dengue Label Data:

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

Dengue Feature Train Data:

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

Dengue Feature Test Data:

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

### Abbreiviations

city â€“ City abbreviations: sj for San Juan and iq for Iquitos\
week_start_date â€“ Date given in yyyy-mm-dd format

ndvi_se â€“ Pixel southeast of city centroid\
ndvi_sw â€“ Pixel southwest of city centroid\
ndvi_ne â€“ Pixel northeast of city centroid\
ndvi_nw â€“ Pixel northwest of city centroid

precipitation_amt_mm â€“ Total precipitation

reanalysis_sat_precip_amt_mm â€“ Total precipitation\
reanalysis_dew_point_temp_k â€“ Mean dew point temperature\
reanalysis_air_temp_k â€“ Mean air temperature\
reanalysis_relative_humidity_percent â€“ Mean relative humidity\
reanalysis_specific_humidity_g_per_kg â€“ Mean specific humidity\
reanalysis_precip_amt_kg_per_m2 â€“ Total precipitation\
reanalysis_max_air_temp_k â€“ Maximum air temperature\
reanalysis_min_air_temp_k â€“ Minimum air temperature\
reanalysis_avg_temp_k â€“ Average air temperature\
reanalysis_tdtr_k â€“ Diurnal temperature range

station_max_temp_c â€“ Maximum temperature\
station_min_temp_c â€“ Minimum temperature\
station_avg_temp_c â€“ Average temperature\
station_precip_mm â€“ Total precipitation\
station_diur_temp_rng_c â€“ Diurnal temperature range

In [45]:
dengue_feature_train_data.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm'],
      dtype='object')

In [46]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Define groups of similar features
# temperature_features_in_K = ['reanalysis_air_temp_k', 'reanalysis_avg_temp_k', 'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k']
# temperature_features_in_C = ['station_avg_temp_c', 'station_max_temp_c', 'station_min_temp_c']
# humidity_features = ['reanalysis_relative_humidity_percent', 'reanalysis_specific_humidity_g_per_kg']
# precipitation_features = ['precipitation_amt_mm', 'reanalysis_precip_amt_kg_per_m2', 'reanalysis_sat_precip_amt_mm', 'station_precip_mm']
# vegetation_features = ['ndvi_ne', 'ndvi_nw', 'ndvi_se', 'ndvi_sw']

# # Create subplots for each feature group
# fig, axs = plt.subplots(3, 2, figsize=(20, 15))

# # Plot temperature-related features in Kelvin
# for column in temperature_features_in_K:
#     sns.lineplot(data=dengue_feature_train_data, x='year', y=column, label=column, ax=axs[0, 0])
# axs[0, 0].set_title('Temperature-related Features in Kelvin')
# axs[0, 0].set_xlabel('Year')
# axs[0, 0].set_ylabel('Value')
# axs[0, 0].legend()

# # Plot temperature-related features in Celsius
# for column in temperature_features_in_C:
#     sns.lineplot(data=dengue_feature_train_data, x='year', y=column, label=column, ax=axs[0, 1])
# axs[0, 1].set_title('Temperature-related Features in Celsius')
# axs[0, 1].set_xlabel('Year')
# axs[0, 1].set_ylabel('Value')
# axs[0, 1].legend()

# # Plot humidity-related features
# for column in humidity_features:
#     sns.lineplot(data=dengue_feature_train_data, x='year', y=column, label=column, ax=axs[1, 0])
# axs[1, 0].set_title('Humidity-related Features')
# axs[1, 0].set_xlabel('Year')
# axs[1, 0].set_ylabel('Value')
# axs[1, 0].legend()

# # Plot precipitation-related features
# for column in precipitation_features:
#     sns.lineplot(data=dengue_feature_train_data, x='year', y=column, label=column, ax=axs[1, 1])
# axs[1, 1].set_title('Precipitation-related Features')
# axs[1, 1].set_xlabel('Year')
# axs[1, 1].set_ylabel('Value')
# axs[1, 1].legend()

# # Plot vegetation-related features
# for column in vegetation_features:
#     sns.lineplot(data=dengue_feature_train_data, x='year', y=column, label=column, ax=axs[2, 0])
# axs[2, 0].set_title('Vegetation-related Features')
# axs[2, 0].set_xlabel('Year')
# axs[2, 0].set_ylabel('Value')
# axs[2, 0].legend()

# # Remove the empty subplot
# fig.delaxes(axs[2, 1])

# plt.tight_layout()
# plt.show()

In [47]:
# Display the DataFrame descriptions

print("Dengue Label Data Description:")
display(dengue_label_data.describe())

print("\nDengue Feature Train Data Description:")
display(dengue_feature_train_data.describe())

print("\nDengue Feature Test Data Description:")
display(dengue_feature_test_data.describe())

Dengue Label Data Description:

              year   weekofyear  total_cases
count  1456.000000  1456.000000  1456.000000
mean   2001.031593    26.503434    24.675137
std       5.408314    15.019437    43.596000
min    1990.000000     1.000000     0.000000
25%    1997.000000    13.750000     5.000000
50%    2002.000000    26.500000    12.000000
75%    2005.000000    39.250000    28.000000
max    2010.000000    53.000000   461.000000

Dengue Feature Train Data Description:

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1456.000000,1456.000000,1262.000000,1404.000000,1434.000000,1434.000000,1443.000000,1446.000000,1446.000000,1446.000000,...,1446.000000,1446.000000,1443.000000,1446.000000,1446.000000,1413.000000,1413.000000,1436.000000,1442.000000,1434.000000
mean,2001.031593,26.503434,0.142294,0.130553,0.203783,0.202305,45.760388,298.701852,299.225578,295.246356,...,40.151819,82.161959,45.760388,16.746427,4.903754,27.185783,8.059328,32.452437,22.102150,39.326360
std,5.408314,15.019437,0.140531,0.119999,0.073860,0.083903,43.715537,1.362420,1.261715,1.527810,...,43.434399,7.153897,43.715537,1.542494,3.546445,1.292347,2.128568,1.959318,1.574066,47.455314
min,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,289.642857,...,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000
25%,1997.000000,13.750000,0.044950,0.049217,0.155087,0.144209,9.800000,297.658929,298.257143,294.118929,...,13.055000,77.177143,9.800000,15.557143,2.328571,26.300000,6.514286,31.100000,21.100000,8.700000
50%,2002.000000,26.500000,0.128817,0.121429,0.196050,0.189450,38.340000,298.646429,299.289286,295.640714,...,27.245000,80.301429,38.340000,17.087143,2.857143,27.414286,7.300000,32.800000,22.200000,23.850000
75%,2005.000000,39.250000,0.248483,0.216600,0.248846,0.246982,70.235000,299.833571,300.207143,296.460000,...,52.200000,86.357857,70.235000,17.978214,7.625000,28.157143,9.566667,33.900000,23.300000,53.900000
max,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,298.450000,...,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000

Dengue Feature Test Data Description:

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,416.000000,416.000000,373.000000,405.000000,415.000000,415.000000,414.000000,414.000000,414.000000,414.000000,...,414.000000,414.000000,414.000000,414.000000,414.000000,404.000000,404.000000,413.000000,407.000000,411.000000
mean,2010.766827,26.439904,0.126050,0.126803,0.207702,0.201721,38.354324,298.818295,299.353071,295.419179,...,42.171135,82.499810,38.354324,16.927088,5.124569,27.369587,7.810991,32.534625,22.368550,34.278589
std,1.434835,14.978257,0.164353,0.141420,0.079102,0.092028,35.171126,1.469501,1.306233,1.523099,...,48.909514,7.378243,35.171126,1.557868,3.542870,1.232608,2.449718,1.920429,1.731437,34.655966
min,2008.000000,1.000000,-0.463400,-0.211800,0.006200,-0.014671,0.000000,294.554286,295.235714,290.818571,...,0.000000,64.920000,0.000000,12.537143,1.485714,24.157143,4.042857,27.200000,14.200000,0.000000
25%,2010.000000,13.750000,-0.001500,0.015975,0.148670,0.134079,8.175000,297.751429,298.323214,294.335714,...,9.430000,77.397143,8.175000,15.792857,2.446429,26.514286,5.928571,31.100000,21.200000,9.100000
50%,2011.000000,26.000000,0.110100,0.088700,0.204171,0.186471,31.455000,298.547143,299.328571,295.825000,...,25.850000,80.330000,31.455000,17.337143,2.914286,27.483333,6.642857,32.800000,22.200000,23.600000
75%,2012.000000,39.000000,0.263329,0.242400,0.254871,0.253243,57.772500,300.240357,300.521429,296.643571,...,56.475000,88.328929,57.772500,18.174643,8.171429,28.319048,9.812500,33.900000,23.300000,47.750000
max,2013.000000,53.000000,0.500400,0.649000,0.453043,0.529043,169.340000,301.935714,303.328571,297.794286,...,301.400000,97.982857,169.340000,19.598571,14.485714,30.271429,14.725000,38.400000,26.700000,212.000000

There are some missing values can be observe from the describtion of dataset\
Find the missing data and fill them with there nearest values

In [48]:
# display the null values count

print("Dengue Label Data null count:\n", 
      dengue_label_data.isnull().sum())

print("\nDengue Feature Train Data null count:\n",
      dengue_feature_train_data.isnull().sum())

print("\nDengue Feature Test Data null count:\n",
      dengue_feature_test_data.isnull().sum())

Dengue Label Data null count:
 city           0
year           0
weekofyear     0
total_cases    0
dtype: int64

Dengue Feature Train Data null count:
 city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
dtype: int64

Dengue Feature Test Data null count:
 city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

In [49]:
# advanced techniques like interpolation
dengue_feature_train_data.interpolate(method='linear', inplace=True)
dengue_feature_test_data.interpolate(method='linear', inplace=True)
dengue_label_data.interpolate(method='linear', inplace=True)

C:\Users\nilak\AppData\Local\Temp\ipykernel_10876\668277097.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dengue_feature_train_data.interpolate(method='linear', inplace=True)
C:\Users\nilak\AppData\Local\Temp\ipykernel_10876\668277097.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dengue_feature_test_data.interpolate(method='linear', inplace=True)
C:\Users\nilak\AppData\Local\Temp\ipykernel_10876\668277097.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dengue_label_data.interpolate(method='linear', inplace=True)

In [50]:
# Display the DataFrame descriptions

print("Dengue Label Data Description:")
display(dengue_label_data.describe())

print("\nDengue Feature Train Data Description:")
display(dengue_feature_train_data.describe())

print("\nDengue Feature Test Data Description:")
display(dengue_feature_test_data.describe())

Dengue Label Data Description:

              year   weekofyear  total_cases
count  1456.000000  1456.000000  1456.000000
mean   2001.031593    26.503434    24.675137
std       5.408314    15.019437    43.596000
min    1990.000000     1.000000     0.000000
25%    1997.000000    13.750000     5.000000
50%    2002.000000    26.500000    12.000000
75%    2005.000000    39.250000    28.000000
max    2010.000000    53.000000   461.000000

Dengue Feature Train Data Description:

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,...,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000
mean,2001.031593,26.503434,0.131490,0.127823,0.203130,0.201963,45.702091,298.697750,299.221723,295.244555,...,40.125594,82.173009,45.702091,16.744659,4.900618,27.181438,8.095505,32.446497,22.098043,39.362294
std,5.408314,15.019437,0.137272,0.119478,0.073781,0.083491,43.651356,1.359878,1.260384,1.525955,...,43.313117,7.152190,43.651356,1.540958,3.542762,1.281116,2.127521,1.959090,1.570524,47.285701
min,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,289.642857,...,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000
25%,1997.000000,13.750000,0.037400,0.048092,0.154057,0.144455,9.785000,297.657857,298.257143,294.117857,...,13.200000,77.196429,9.785000,15.554643,2.328571,26.314286,6.528571,31.100000,21.100000,8.850000
50%,2002.000000,26.500000,0.115550,0.115926,0.195664,0.190121,38.320000,298.640000,299.285714,295.638571,...,27.300000,80.287857,38.320000,17.084286,2.857143,27.400000,7.350000,32.800000,22.200000,24.050000
75%,2005.000000,39.250000,0.231443,0.213429,0.247461,0.246579,70.227500,299.827500,300.207143,296.457857,...,52.200000,86.437500,70.227500,17.976071,7.632143,28.130804,9.603571,33.900000,23.300000,53.900000
max,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,298.450000,...,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000

Dengue Feature Test Data Description:

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,...,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000,416.000000
mean,2010.766827,26.439904,0.115390,0.124808,0.207653,0.201595,38.169928,298.816343,299.349270,295.411111,...,42.018522,82.466648,38.169928,16.918838,5.113204,27.356948,7.861407,32.530409,22.340986,33.942909
std,1.434835,14.978257,0.161353,0.140734,0.079013,0.091953,35.186673,1.466903,1.304965,1.525439,...,48.841017,7.376911,35.186673,1.559970,3.538112,1.222950,2.450350,1.926823,1.726485,34.585670
min,2008.000000,1.000000,-0.463400,-0.211800,0.006200,-0.014671,0.000000,294.554286,295.235714,290.818571,...,0.000000,64.920000,0.000000,12.537143,1.485714,24.157143,4.042857,27.200000,14.200000,0.000000
25%,2010.000000,13.750000,-0.003463,0.013070,0.148677,0.134132,8.035000,297.751429,298.316071,294.327500,...,9.490000,77.333750,8.035000,15.789643,2.453571,26.528571,5.942857,31.100000,21.200000,8.975000
50%,2011.000000,26.000000,0.089750,0.087812,0.203702,0.186386,31.125000,298.547143,299.325000,295.817857,...,25.775000,80.315714,31.125000,17.321429,2.914286,27.445000,6.671429,32.800000,22.200000,23.300000
75%,2012.000000,39.000000,0.248361,0.241182,0.254807,0.253171,57.717500,300.238214,300.521429,296.642143,...,56.225000,87.978214,57.717500,18.172500,8.171429,28.278571,9.879167,33.900000,23.300000,47.275000
max,2013.000000,53.000000,0.500400,0.649000,0.453043,0.529043,169.340000,301.935714,303.328571,297.794286,...,301.400000,97.982857,169.340000,19.598571,14.485714,30.271429,14.725000,38.400000,26.700000,212.000000

In [51]:
# display the null values count

print("Dengue Label Data null count:\n", 
      dengue_label_data.isnull().sum())

print("\nDengue Feature Train Data null count:\n",
      dengue_feature_train_data.isnull().sum())

print("\nDengue Feature Test Data null count:\n",
      dengue_feature_test_data.isnull().sum())

Dengue Label Data null count:
 city           0
year           0
weekofyear     0
total_cases    0
dtype: int64

Dengue Feature Train Data null count:
 city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

Dengue Feature Test Data null count:
 city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [52]:
dengue_feature_train_data = pd.merge(dengue_feature_train_data, dengue_label_data, on=['city', 'year', 'weekofyear'], how='inner')
dengue_feature_train_data.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
count,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,...,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000,1456.000000
mean,2001.031593,26.503434,0.131490,0.127823,0.203130,0.201963,45.702091,298.697750,299.221723,295.244555,...,82.173009,45.702091,16.744659,4.900618,27.181438,8.095505,32.446497,22.098043,39.362294,24.675137
std,5.408314,15.019437,0.137272,0.119478,0.073781,0.083491,43.651356,1.359878,1.260384,1.525955,...,7.152190,43.651356,1.540958,3.542762,1.281116,2.127521,1.959090,1.570524,47.285701,43.596000
min,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,289.642857,...,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000,0.000000
25%,1997.000000,13.750000,0.037400,0.048092,0.154057,0.144455,9.785000,297.657857,298.257143,294.117857,...,77.196429,9.785000,15.554643,2.328571,26.314286,6.528571,31.100000,21.100000,8.850000,5.000000
50%,2002.000000,26.500000,0.115550,0.115926,0.195664,0.190121,38.320000,298.640000,299.285714,295.638571,...,80.287857,38.320000,17.084286,2.857143,27.400000,7.350000,32.800000,22.200000,24.050000,12.000000
75%,2005.000000,39.250000,0.231443,0.213429,0.247461,0.246579,70.227500,299.827500,300.207143,296.457857,...,86.437500,70.227500,17.976071,7.632143,28.130804,9.603571,33.900000,23.300000,53.900000,28.000000
max,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,298.450000,...,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000,461.000000

In [53]:
# Convert 'week_start_date' to datetime object
dengue_feature_train_data['week_start_date'] = pd.to_datetime(dengue_feature_train_data['week_start_date'])
dengue_feature_test_data['week_start_date'] = pd.to_datetime(dengue_feature_test_data['week_start_date'])
# Extract additional features like month or day of the week
dengue_feature_train_data['month'] = dengue_feature_train_data['week_start_date'].dt.month
dengue_feature_train_data['day_of_week'] = dengue_feature_train_data['week_start_date'].dt.dayofweek
dengue_feature_test_data['month'] = dengue_feature_test_data['week_start_date'].dt.month
dengue_feature_test_data['day_of_week'] = dengue_feature_test_data['week_start_date'].dt.dayofweek

# Calculate last week temp feature for dengue cases
dengue_feature_train_data['previous_week_temp'] = dengue_feature_train_data['reanalysis_avg_temp_k'].shift(1)
dengue_feature_test_data['previous_week_temp'] = dengue_feature_test_data['reanalysis_avg_temp_k'].shift(1)

# Calculate rolling mean of precipitation
dengue_feature_train_data['rolling_precip_mean'] = dengue_feature_train_data['precipitation_amt_mm'].rolling(window=3).mean()
dengue_feature_test_data['rolling_precip_mean'] = dengue_feature_test_data['precipitation_amt_mm'].rolling(window=3).mean()
dengue_feature_train_data['rolling_precip_mean_station'] = dengue_feature_train_data['station_precip_mm'].rolling(window=3).mean()
dengue_feature_test_data['rolling_precip_mean_station'] = dengue_feature_test_data['station_precip_mm'].rolling(window=3).mean()
dengue_feature_train_data['rolling_precip_mean_reanalysis'] = dengue_feature_train_data['reanalysis_sat_precip_amt_mm'].rolling(window=3).mean()
dengue_feature_test_data['rolling_precip_mean_reanalysis'] = dengue_feature_test_data['reanalysis_sat_precip_amt_mm'].rolling(window=3).mean()

# Create interaction feature
dengue_feature_train_data['temp_humidity_interaction'] = dengue_feature_train_data['reanalysis_air_temp_k'] * dengue_feature_train_data['reanalysis_relative_humidity_percent']
dengue_feature_test_data['temp_humidity_interaction'] = dengue_feature_test_data['reanalysis_air_temp_k'] * dengue_feature_test_data['reanalysis_relative_humidity_percent']

In [54]:
# advanced techniques like interpolation
dengue_feature_train_data = dengue_feature_train_data.dropna()
dengue_feature_test_data = dengue_feature_test_data.dropna()

In [55]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Perform label encoding
dengue_feature_train_data['city_encoded'] = label_encoder.fit_transform(dengue_feature_train_data['city'])
dengue_feature_test_data['city_encoded'] = label_encoder.fit_transform(dengue_feature_test_data['city'])
dengue_feature_train_data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,station_precip_mm,total_cases,month,day_of_week,previous_week_temp,rolling_precip_mean,rolling_precip_mean_station,rolling_precip_mean_reanalysis,temp_humidity_interaction,city_encoded
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,41.4,4,5,0,298.442857,23.26,22.000000,23.26,24515.869875,1
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,4.0,3,5,0,298.878571,24.24,18.000000,24.24,24019.772808,1
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,5.8,6,5,0,299.228571,19.14,17.066667,19.14,24099.264257,1
5,sj,1990,23,1990-06-04,0.154550,0.174850,0.254314,0.181743,9.58,299.630000,...,39.1,2,6,0,299.664286,10.82,16.300000,10.82,23937.868743,1
6,sj,1990,24,1990-06-11,0.112900,0.092800,0.205071,0.210271,3.48,299.207143,...,29.7,4,6,0,299.764286,6.86,24.866667,6.86,24534.985714,1

In [56]:
dengue_feature_train_data.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'total_cases', 'month',
       'day_of_week', 'previous_week_temp', 'rolling_precip_mean',
       'rolling_precip_mean_station', 'rolling_precip_mean_reanalysis',
       'temp_humidity_interaction', 'city_encoded'],
      dtype='object')

In [57]:
# # Histograms
# sns.histplot(data=dengue_feature_train_data, x='total_cases', bins=50, kde=True)
# plt.title('Distribution of Dengue Cases')
# plt.xlabel('Total Cases')
# plt.ylabel('Frequency')
# plt.show()

# # Time Series Plot
# sns.lineplot(data=dengue_feature_train_data, x='week_start_date', y='total_cases', hue='city')
# plt.title('Time Series of Dengue Cases')
# plt.xlabel('Week Start Date')
# plt.ylabel('Total Cases')
# plt.show()

# # Correlation Matrix
# plt.figure(figsize=(20,20))
# Corr_data = dengue_feature_train_data.drop(columns=['city'])
# correlation_matrix = Corr_data.corr()
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Matrix')
# plt.show()

# # Pairplot
# sns.pairplot(dengue_feature_train_data[['total_cases', 'reanalysis_air_temp_k', 'reanalysis_relative_humidity_percent', 'precipitation_amt_mm']])
# plt.show()

# # Boxplot
# sns.boxplot(data=dengue_feature_train_data, x='city', y='total_cases')
# plt.title('Distribution of Dengue Cases by City')
# plt.xlabel('City')
# plt.ylabel('Total Cases')
# plt.show()

In [58]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the scaler
scaler = MinMaxScaler()

# Define numerical features
numerical_features = ['ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm','month',
       'day_of_week', 'previous_week_temp', 'rolling_precip_mean',
       'rolling_precip_mean_station', 'rolling_precip_mean_reanalysis',
       'temp_humidity_interaction', 'city_encoded']

# Fit scaler on training data and transform both training and testing data
# dengue_feature_train_data[numerical_features] = scaler.fit_transform(dengue_feature_train_data[numerical_features])
# dengue_feature_test_data[numerical_features] = scaler.transform(dengue_feature_test_data[numerical_features])

In [59]:
# Separate data for each city  sj for San Juan and iq for Iquitos

San_Juan_train = dengue_feature_train_data[dengue_feature_train_data['city'] == 'sj']
Iquitos_train = dengue_feature_train_data[dengue_feature_train_data['city'] == 'iq']

San_Juan_test = dengue_feature_test_data[dengue_feature_test_data['city'] == 'sj']
Iquitos_test = dengue_feature_test_data[dengue_feature_test_data['city'] == 'iq']

In [60]:
from sklearn.model_selection import train_test_split

# Split data into features and target variable
San_Juan_X = San_Juan_train.drop(columns=['total_cases','city','week_start_date'])
San_Juan_y = San_Juan_train['total_cases']

Iquitos_X = Iquitos_train.drop(columns=['total_cases','city','week_start_date'])
Iquitos_y = Iquitos_train['total_cases']

# Split data into training and testing sets
San_Juan_X_train, San_Juan_X_test, San_Juan_y_train, San_Juan_y_test = train_test_split(San_Juan_X, San_Juan_y, test_size=0.2, random_state=49)
Iquitos_X_train, Iquitos_X_test, Iquitos_X_train, Iquitos_y_test = train_test_split(Iquitos_X, Iquitos_y, test_size=0.2, random_state=49)

In [64]:
x_train = scaler.fit_transform(San_Juan_X_train)
x_test = scaler.transform(San_Juan_X_test)

In [65]:
print(San_Juan_X_train.shape)
print(San_Juan_X_test.shape)
print(San_Juan_y_train.shape)
print(San_Juan_y_test.shape)

(747, 30)
(187, 30)
(747,)
(187,)

In [71]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error

# Assume 'numerical_features' contains exogenous variables/features

# Define SARIMAX model parameters
p = 1  # Autoregressive order
d = 1  # Integration order
q = 1  # Moving average order
P = 1  # Seasonal autoregressive order
D = 1  # Seasonal integration order
Q = 1  # Seasonal moving average order
m = 52  # Seasonal period (assuming weekly data)

# Fit SARIMAX model
sarimax_model = SARIMAX(dengue_feature_train_data['total_cases'], exog=dengue_feature_train_data[numerical_features], order=(p, d, q), seasonal_order=(P, D, Q, m))
sarimax_result = sarimax_model.fit()

# Make predictions
sarimax_forecast = sarimax_result.predict(start=dengue_feature_test_data.index[0], end=dengue_feature_test_data.index[-1], exog=dengue_feature_test_data[numerical_features])

# Evaluate model performance
mse = mean_squared_error(dengue_feature_test_data['total_cases'], sarimax_forecast)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

c:\Users\nilak\.conda\envs\dsp_ucsc\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Users\nilak\.conda\envs\dsp_ucsc\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)